.cards {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        padding-top: 3%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align:justify;
        border: none;
        h4{
            margin: 10% 2.5% 2.5% 2.5%;
        }
        p{
            margin: 2.5% 10%;
        }
        a{
                color: white;
                font-weight: bold;
                padding: 15px 26px;
                background-color: $Scooter;
                border-radius: 6px;
                margin:2.5% ;
        }
    }
    .card-1{
        background-color: $Fiord;
    }
    .card-2{
        background-color: #495863;
    }
    .card-3{
        background-color: #46545f;
    }
    @media (max-width: 768px){
        flex-direction: column;
        height: auto;
    }
}