* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

nav .container {
  width: auto;
  margin: 2% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container label {
  color: white;
  font-weight: bold;
  font-size: 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav .container .hamburger {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

nav .container .hamburger.is-active span:nth-child(1) {
  -webkit-transform: translate(0px, -2px) rotate(45deg);
          transform: translate(0px, -2px) rotate(45deg);
  background-color: #1985A1;
}

nav .container .hamburger.is-active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}

nav .container .hamburger.is-active span:nth-child(3) {
  -webkit-transform: translate(-3px, 3px) rotate(-45deg);
          transform: translate(-3px, 3px) rotate(-45deg);
  background-color: #1985A1;
}

nav .container .hamburger span {
  display: block;
  height: 4px;
  width: 33px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 6px;
  background-color: white;
  z-index: 1;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 768px) {
  nav .container .hamburger {
    display: block;
  }
}

nav .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .menu .nav-item a {
  color: white;
  font-weight: 500;
  margin-left: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99px;
  padding: 8px 16px;
}

nav .container .menu .nav-item a.is-active, nav .container .menu .nav-item a:hover {
  background-color: #1985A1;
}

nav .container .menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: -1;
  background-color: #46494C;
  height: 80vh;
  width: 100%;
  top: 0;
  left: 0;
}

nav .container .menu.active .nav-item {
  margin: 5% 0;
}

@media (max-width: 768px) {
  nav .container .menu {
    display: none;
  }
}

.gallery-hero {
  background-image: url(../images/maserati_car-wallpaper-1920x1200.jpg);
  width: 100%;
  height: 60vh;
  background-position: top;
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 1400px) {
  .gallery-hero {
    background-size: cover;
    background-position: center;
  }
}

.gallery-hero .color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4C5C68;
  opacity: .7;
}

.gallery-hero .heading {
  width: 100%;
  padding: 0 5%;
  height: 100%;
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.gallery-hero .heading h1 {
  font-size: 50px;
  font-weight: bolder;
  margin: 20px;
}

.formulaire form {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .formulaire form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.formulaire form select {
  margin: 0 5% 0 2%;
  padding: 15px 26px;
  background-color: whitesmoke;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .formulaire form select {
    width: 70%;
  }
}

.cars-gallery {
  color: black;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cars-gallery .car {
  cursor: pointer;
  width: 350px;
  height: 305px;
  border: 1px #DCDCDD solid;
  margin-bottom: 5%;
}

.cars-gallery .car:hover .car-img span {
  background-color: #1985A1;
  color: white;
}

.cars-gallery .car:hover .car-img span::before {
  border-bottom: 35.33px solid #1985A1;
}

.cars-gallery .car .car-img {
  width: 350px;
  height: auto;
  position: relative;
}

.cars-gallery .car .car-img img {
  width: 350px;
  height: 200px;
}

.cars-gallery .car .car-img span {
  position: absolute;
  bottom: 0;
  right: 0.5%;
  padding: 8px 26px;
  background-color: #DCDCDD;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cars-gallery .car .car-img span::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: -43%;
  border-bottom: 35.33px solid #DCDCDD;
  border-left: 35px solid transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.cars-gallery .car .car-name {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px #DCDCDD solid;
  border-top: 1px #DCDCDD solid;
}

.cars-gallery .car .car-name p {
  font-weight: bolder;
}

.cars-gallery .car .car-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DCDCDD;
}

.cars-gallery .car .car-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cars-gallery .car .car-info div img {
  width: 25px;
  height: 25px;
  margin-right: 5%;
}

.cars-gallery .car .car-info div img.car-type-img {
  width: 40px;
  height: 40px;
}

.cars-gallery .car .car-info div p {
  font-size: 15px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.pagination div {
  cursor: pointer;
  padding: 20px;
  border: 1px solid #DCDCDD;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination div.page {
  padding: 27.3px 30px;
  font-weight: bolder;
}

.pagination div.page:hover {
  color: white;
  background-color: #1985A1;
}

.pagination div:not(.page):hover {
  background-color: #1985A1;
}

.pagination div:not(.page):hover img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(157deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(157deg) brightness(117%) contrast(100%);
}

.pagination div img {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #46494C;
  color: white;
}

footer .container {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .logo label {
  font-weight: bold;
  font-size: 23px;
}

@media (max-width: 768px) {
  footer .container .logo {
    display: none;
  }
}

footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 6%;
}

footer .container .links .link p {
  margin: 5% 0;
  font-size: 12px;
}

@media (max-width: 768px) {
  footer .container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

footer .container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .contact .socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
}

footer .container .contact .socials img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

footer .container .contact a {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 26px;
  background-color: #1985A1;
  border-radius: 99px;
  margin: 2.5%;
  text-align: center;
}

@media (max-width: 768px) {
  footer .container {
    height: 30vh;
  }
}

footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C5C3C6;
  margin-bottom: 10px;
  font-size: 8px;
}
/*# sourceMappingURL=gallery.css.map */